@font-face {
  font-family: "iconfont"; /* Project id 2621140 */
  src: url('iconfont.woff2?t=1624193163848') format('woff2'),
       url('iconfont.woff?t=1624193163848') format('woff'),
       url('iconfont.ttf?t=1624193163848') format('truetype');
}

.iconfont,[class^="el-blog-icon-"],[class*=" el-blog-icon-"]{
  font-family: "iconfont" !important;
  font-size: 19px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-blog-icon-RectangleCopy:before {
  content: "\e6aa";
}

.el-blog-icon-envelope:before {
  content: "\ea98";
}

.el-blog-icon-history:before {
  content: "\e7a1";
}

.el-blog-icon-github:before {
  content: "\e64c";
}

.el-blog-icon-chart-line:before {
  content: "\e600";
}

.el-blog-icon-search:before {
  content: "\e611";
}

.el-blog-icon-home:before {
  content: "\e68e";
}

.el-blog-icon-archive:before {
  content: "\e698";
}

.el-blog-icon-heart:before {
  content: "\e7df";
}

.el-blog-icon-tags-o:before {
  content: "\e61d";
}

.el-blog-icon-Link:before {
  content: "\e6b2";
}

.el-blog-icon-FolderOpen:before {
  content: "\e67e";
}

